<header class="jumbotron">
  <div class="container">
    <h1 class="display-3 text-sm-center">Air Plate</h1>
    <img class="air-plate-img m-y-2 center-block" src="/images/air-plate.svg" title="Air Plate" alt="Air Plate" width="200">
    <random-zueira class="lead text-sm-center center-block text-muted m-b-0">
  </div>
</header>
<article class="container">
  <a ui-sref="answer" title="Leve-me à resposta sobre a vida o universo e tudo mais." class="btn btn-info btn-lg btn-block">Leve-me à resposta sobre a vida o universo e tudo mais.</a>
</article>
